/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text {
    -fx-text-fill: "black";
}

.button-navigation {
    -fx-margin : 0 300 0 0;
    -fx-background-color:transparent;
    -fx-text-fill:"black";
}

.container-pane{
      -fx-spacing : 20px;
}

.button-navigation:hover{
    -fx-background-color:#C0F8D1;
}